
<%- include("header") -%>

    <div id="heading" class="box">

        <% if(listTitle === "Saturday" || listTitle === "Saturday") { %>
            <h1 style="color: Green;"> <%= listTitle %> </h1>
          <% } else { %>
              <h1 style="color: white;"> <%= listTitle %> </h1>
          <% } %>   

    </div>

    <div class="box">

        <% newListItems.forEach(function(item){ %>

            <form class="item" action="/delete" method="post">
                 <div class="item">
                    <input onchange="this.form.submit();" value="<%=item._id %>" name="checkbox" type="checkbox">
                    <p><%= item.name %></p>
                 </div>   
                 <input type="hidden" name="listName" value="<%= listTitle %>"></input>
            </form>       


        <%  }) %>
       
           
       

        <form class="item" action="/" method="post" >
            <input autocomplete="off" name="newItem" placeholder="New Item" type="text">
    
            <button name="list" value=<%= listTitle %> type="submit" >+</button>
        </form>

    </div>


  

<%- include("footer") -%>